.bg-login-imagen{
    background: url("../img/bg-login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border: 0px;
    height: 296px;
    width: 500px;
}

.sizeDiv{
    width: 40vw;
}

